.mainR{
    width: 80%;
    margin: auto;
    height: 415px;
    background-color: #3C3F41;
    margin-bottom: 30px;
    display: grid;
    font-size: 16px;
    grid-gap: 5px;
    grid-template-columns: 35% auto;
    grid-auto-rows: 100px auto auto auto;
    grid-template-areas:
        "img title"
        "img alcoholic"
        "img inde"
        "img recipie";
    color: aliceblue;
    min-width: 400px;
    overflow-y: auto;
    position: relative;
}

.ingredients{
    grid-area: inde;
    text-align: left;
    padding-left: 15px;
    position: relative;
}

.separator {
    height: 1px;
    width: 80%;
    background-color: aliceblue;
    margin-top: 2px;
    position: absolute;
    bottom: 0;
}

.img {
    grid-area: img;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    transform: scale(0.98);
    transition: all 300ms ;
    background-position: right;
}

.title{
    grid-area: title;
    font-size: 2.5rem;
    text-align: left;
    padding-left: 15px;
    align-self: center;
    position: relative;
    height: 100%;
    line-height: 100px;
}

.type{
    grid-area: alcoholic;
    text-align: left;
    padding-left: 15px;
    position: relative;
}

.mainR > .recipie{
    overflow: hidden;
}
.recipie{
    grid-area: recipie;
    padding-left: 15px;
    text-align: justify;
    padding-right: 10px;
    display: table;
    height: 200px;
    position: relative;
}