.App {
  text-align: center;
}

.show{
  display: block !important;
}
.scroll-up{
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: none;
  cursor: pointer;
}
.scroll-up:hover{
  animation: pop-up;
  animation-duration: 300ms;
}

@keyframes pop-up {
  0% {bottom: 30px}
  50% {bottom: 40px}
  100% {bottom: 30px}

}

.spacer{
  height: 46px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
